{%extends "layout.html" %}

{% block heading %}
    Forms
{% endblock %}

{%block body%} 
    <form action="{{url_for('get_value') }}", method="POST">
        <select name="base">
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>

        <input type="number" name="amount" placeholder="amount">
        <select name="rate">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
        <button>Convert</button>
    </form>
{%endblock%}